[submodule "external/qca"]
	path = external/qca
	url = https://invent.kde.org/libraries/qca.git
[submodule "resources/flatpak/shared-modules"]
	path = resources/flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
