#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.5
Name=GOnnect
GenericName=UC Client
GenericName[de]=UC Client
Comment=Make phone calls and hold video conferences
Comment[de]=Telefoniere und halte Videokonferenzen ab
Keywords=SIP;VoIP;phone;teams;collaboration;conference;
Keywords[de]=SIP;VoIP;Telefon;Teams;Arbeit;Konferenz;
Exec=gonnect %u
TryExec=gonnect
Icon=de.gonicus.gonnect
Categories=Network;Telephony;VideoConference;
SingleMainWindow=true
DBusActivatable=true
Actions=Hangup;Show
StartupWMClass=de.gonicus.gonnect
X-PulseAudio-Properties=media.role=phone
X-KDE-Protocols=tel;callto;
MimeType=text/html;x-scheme-handler/sip;x-scheme-handler/sips;x-scheme-handler/tel;x-scheme-handler/callto;

[Desktop Action Show]
Exec=gonnect --show
Name=Dial
Name[de]=Wählen

[Desktop Action Hangup]
Exec=gonnect --hangup
Name=Hang up
Name[de]=Auflegen
