name: GOnnect Build

on:
  workflow_dispatch:  # can be manually dispatched under GitHub's "Actions" tab
  # Run the build only, if the branch is release or main or a PR with release or main as target is used
  push:
    branches:
      - release
      - main
  # Use the release/main branch workflow/actions definitions rather the definitions in the pull_request
  pull_request:
    branches:
      - release
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  EXT_BASE: ${{github.workspace}}

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-24.04
    name: "Build GOnnect (Linux)"
    env:
      CC: clang
      CXX: clang++

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: 'recursive'

      - name: Prepare
        uses: ./.github/actions/prepare-linux

      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          version: 2.22.2
          cache_packages: true

      - name: Install Conan dependencies
        run: |
          resources/conan/export.py
          conan install . --build=missing

      - name: Configure CMake
        env:
          PKG_CONFIG_PATH: /usr/lib/x86_64-linux-gnu/pkgconfig
        run: cmake --preset conan-release . -DBUILD_TESTING=ON

      - name: Build
        run: cmake --build --preset conan-release --parallel $(nproc --all)

      - name: Upload Test artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: gonnect-tests
          path: build/Release/tests/contactsTest
          retention-days: 1

  build-windows:
    runs-on: windows-2025
    name: "Build GOnnect (Windows)"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: 'recursive'

      - name: Prepare
        uses: ./.github/actions/prepare-windows

      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          version: 2.22.2
          cache_packages: true

      - name: Install Conan dependencies
        shell: cmd
        run: |
          python resources\\conan\\export.py
          conan install . --build=missing

      - name: Configure CMake
        shell: cmd
        run: cmake --preset conan-default -DENABLE_DAV=OFF

      - name: Build
        run: cmake --build --preset conan-release

  format:
    runs-on: ubuntu-24.04
    name: "Code Formatting"
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Run clang-format style check for C/C++/Protobuf programs.
        uses: jidicula/clang-format-action@6cd220de46c89139a0365edae93eee8eb30ca8fe # v4.16.0
        with:
          clang-format-version: '19'
          check-path: 'src'

  clang:
    runs-on: ubuntu-24.04
    name: "Static Code Analyzer"
    env:
      CC: clang
      CXX: clang++

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: 'recursive'

      - name: Prepare
        uses: ./.github/actions/prepare-linux

      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          version: 2.22.2
          cache_packages: true

      - name: Install Conan dependencies
        run: |
          resources/conan/export.py
          conan install . --build=missing

      - name: Run static analyzer
        shell: bash
        env:
          PKG_CONFIG_PATH: /usr/lib/x86_64-linux-gnu/pkgconfig
        run: |
          pip install scan-build
          export ANALYZE_ARGS="--exclude ${QT_ROOT_DIR} --exclude ${{github.workspace}}/external"
          scripts/static-clang-analyzer.sh

      - name: Save Report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: clang-report
          path: /tmp/build.log

  clazy:
    runs-on: ubuntu-24.04
    container: fedora:43
    name: "Qt Semantics"

    steps:
      - name: Install dependencies
        run: |
          dnf -y install git git-lfs clang clazy conan libnotify-devel libxkbfile libxcb-devel libXv-devel ninja-build alsa-lib-devel glew-devel \
          libxcb-devel xcb-util-xrm-devel xcb-util-devel xcb-util-wm-devel xcb-util-image-devel xcb-util-cursor \
          xcb-util-cursor-devel xcb-util-keysyms-devel xcb-util-renderutil-devel libusb1-devel hidapi-devel \
          xorg-x11-drv-libinput xorg-x11-server-Xorg libxkbcommon-x11 libX11-devel mesa-libGL-devel libXinerama-devel \
          libxslt-devel libxslt pulseaudio-libs-devel libuuid-devel openldap-devel libolm-devel libsecret-devel evolution-data-server-devel folks-devel glib2-devel \
          libical-devel perl-lib perl-FindBin perl-Time-Piece perl-IPC-Cmd perl-Digest-SHA

      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Prepare
        uses: ./.github/actions/prepare-linux
        with:
          qt-only: true

      - name: Prepare conan
        shell: bash
        id: conan-info
        run: |
          echo "conan-version=$(conan --version | cut -d' ' -f3)" >> $GITHUB_OUTPUT
          echo "conan-home=$(conan config home)" >> $GITHUB_OUTPUT
          conan profile detect || true

      - name: Cache Conan packages
        uses: actions/cache@v4.2.3
        id: cache-conan-packages
        with:
          path: ${{ steps.conan-info.outputs.conan-home }}/p
          key: conan-${{ steps.conan-info.outputs.conan-version }}-${{ runner.os }}
          restore-keys: |
            conan-${{ steps.conan-info.outputs.conan-version }}-${{ runner.os }}-

      - name: Install Conan dependencies
        run: |
          resources/conan/export.py
          conan install . --build=missing

      - name: Run clazy
        shell: bash
        run: |
          scripts/static-clazy-analyzer.sh

  tests:
    runs-on: ubuntu-24.04
    name: "Unit Tests"
    needs: build

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Prepare
        uses: ./.github/actions/prepare-linux
        with:
          qt-only: 'true'

      - name: Download Test artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: gonnect-tests

      - name: Run Unit Tests
        shell: bash
        run: |
          chmod +x contactsTest
          LD_LIBRARY_PATH=${QT_ROOT_DIR}/lib ./contactsTest
