name: GOnnect Build

on:
  workflow_dispatch:  # can be manually dispatched under GitHub's "Actions" tab
  # Run the build only, if the branch is release or main or a PR with release or main as target is used
  push:
    branches:
      - release
      - main
  # Use the release/main branch workflow/actions definitions rather the definitions in the pull_request
  pull_request:
    branches:
      - release
      - main

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  EXT_BASE: ${{github.workspace}}

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-24.04
    name: "Build GOnnect"

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: 'recursive'

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Install Conan
        uses: conan-io/setup-conan@v1

      - name: Install Conan dependencies
        run:
          - resources/conan/export.py
          - conan install . --build=missing

      - name: Configure CMake
        run: cmake -GNinja -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=generators/conan_toolchain.cmake -DCMAKE_POLICY_DEFAULT_CMP0091=NEW -DBUILD_TESTING=ON -DBUILD_DEPENDENCIES=ON

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} --parallel $(nproc --all)

      - name: Upload Test artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: gonnect-tests
          path: build/tests/contactsTest
          retention-days: 1

  format:
    runs-on: ubuntu-24.04
    name: "Code Formatting"
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Run clang-format style check for C/C++/Protobuf programs.
        uses: jidicula/clang-format-action@6cd220de46c89139a0365edae93eee8eb30ca8fe # v4.16.0
        with:
          clang-format-version: '19'
          check-path: 'src'

  clang:
    runs-on: ubuntu-24.04
    name: "Static Code Analyzer"    

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: 'recursive'
          
      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Run clang
        shell: bash
        run: |
          pip install scan-build
          export ANALYZE_ARGS="--exclude ${QT_ROOT_DIR} --exclude ${{github.workspace}}/external"
          scripts/static-clang-analyzer.sh
      
      - name: Save Report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: clang-report
          path: /tmp/build.log
              

#  clazy:
#    runs-on: ubuntu-24.04
#    #needs: build
#    name: "Qt Semantics"
#
#    steps:
#      - uses: actions/checkout@v4
#        with:
#          submodules: 'recursive'
#
#      - name: Prepare
#        uses: ./.github/actions/prepare
#        with:
#          for-clazy: 'true'             
#
#      - name: Run clazy
#        shell: bash
#        run: |
#          find ~/.local/clazy/lib
#          LD_LIBRARY_PATH=~/.local/clazy/lib scripts/static-clazy-analyzer.sh          


  tests:
    runs-on: ubuntu-24.04
    name: "Unit Tests"
    needs: build

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Prepare
        uses: ./.github/actions/prepare
        with:
          qt-only: 'true'

      - name: Download Test artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: gonnect-tests

      - name: Run Unit Tests
        shell: bash
        run: |
          chmod +x contactsTest
          LD_LIBRARY_PATH=${QT_ROOT_DIR}/lib ./contactsTest
