name: GOnnect Release

on:
  workflow_dispatch:  # can be manually dispatched under GitHub's "Actions" tab

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  EXT_BASE: ${{github.workspace}}

jobs:
  semantic-release:
    runs-on: ubuntu-24.04
    name: Semantic Release
    # A release will only be triggered on the release, freeze and hotfix branches.
    if: contains(fromJSON('["refs/heads/release", "refs/heads/freeze", "refs/heads/hotfix"]'), github.ref)
    permissions:
      contents: write       # to be able to publish a GitHub release
      issues: write         # to be able to comment on released issues
      pull-requests: write  # to be able to comment on released pull requests
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        with:
          app-id: ${{ secrets.RELEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_APP_KEY }}
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          token: ${{ steps.get_token.outputs.token }}
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y xmlstarlet jq
      - name: Release
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}
        run: npx --package=semantic-release --package=@semantic-release/changelog --package=@semantic-release/git --package=@semantic-release/exec -- semantic-release
