name: GOnnect Release build
on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  EXT_BASE: ${{github.workspace}}

permissions:
  contents: write

jobs:
  flatpak:
    name: "Release GOnnect Flatpak"
    runs-on: ubuntu-24.04
    if: startsWith(github.ref, 'refs/tags/')
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:kde-6.10
      options: --privileged

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          lfs: 'true'
          submodules: 'recursive'

      - uses: flatpak/flatpak-github-actions/flatpak-builder@92ae9851ad316786193b1fd3f40c4b51eb5cb101 # v6.6
        with:
          bundle: GOnnect.flatpak
          build-bundle: 'true'
          upload-artifact: 'false'
          manifest-path: resources/flatpak/de.gonicus.gonnect.yml
          cache-key: flatpak-builder-${{ github.sha }}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: GOnnect.flatpak
          tag: ${{ github.ref }}
          overwrite: true

  build-windows:
    runs-on: windows-2025
    name: "Release GOnnect Installer (Windows)"
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          lfs: 'true'
          submodules: 'recursive'

      - name: Prepare
        uses: ./.github/actions/prepare-windows

      - name: Configure CMake
        shell: cmd
        run: cmake --preset conan-default

      - name: Build
        run: cmake --build --preset conan-release

      - name: Package
        run: cd build && cpack ${{github.workspace}}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/GOnnect*.exe
          tag: ${{ github.ref }}
          overwrite: true
