name: Renovate
on:
  schedule:
    - cron: "0 1 * * *" # every night at 1 o'clock (UTC)
  workflow_dispatch: # can be manually dispatched under GitHub's "Actions" tab
    inputs:
      dryRun:
        description: 'Dry run'
        type: 'boolean'

      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
        type: choice
        options:
          - info
          - debug

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_KEY }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.14'
          cache: 'pip' # caching pip dependencies
          pip-install: -r resources/conan/requirements.txt

      - name: Local Conan versiontracker
        run: |
          resources/conan/updater.py --renovate=tmp/renovate/ -v

      - name: Serve Files
        uses: Eun/http-server-action@f71cec1321f665652a46c40b6852f8e5a68bfcd4 # v1
        with:
          directory: ${{ github.workspace }}/tmp/renovate/
          port: 8080
          allowed-methods: |
            ["GET", "HEAD"]
          content-types: |
            {
              "json": "application/json"
            }

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@f7fad228a053c69a98e24f8e4f6cf40db8f61e08 # v44.2.1
        with:
          docker-cmd-file: .github/renovate-entrypoint.sh
          docker-user: root
          docker-volumes: |
             /tmp:/tmp ;
             ${{ github.workspace }}/resources/conan:/conan
          docker-network: host
          token: "${{ steps.get_token.outputs.token }}"
          configurationFile: .github/renovate-config.json5
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL)$"
        env:
          LOG_LEVEL: ${{ inputs.logLevel }}
          RENOVATE_DRY_RUN: ${{ inputs.dryRun == true && 'full' || '' }}